<?xml version="1.0" encoding="UTF-8"?>
<list>
	<receivedMailColor><colorCode>16471</colorCode></receivedMailColor><newMailColor><colorCode>22272</colorCode></newMailColor><unReadColor><colorCode>16718591</colorCode></unReadColor><defaultColor><colorCode>16746180</colorCode></defaultColor><ReadColor><colorCode>10040646</colorCode></ReadColor><newMailRead><colorCode>10787276</colorCode></newMailRead><receivedMailEnable><enable>False</enable></receivedMailEnable><newMailEnable><enable>False</enable></newMailEnable><unReadEnable><enable>False</enable></unReadEnable><defaultEnable><enable>False</enable></defaultEnable><ReadEnable><enable>False</enable></ReadEnable><newMailReadEnable><enable>False</enable></newMailReadEnable><exclusionMailSubject/><allowedFolder/><IsNotNewMail/><IsNoFlag/></list>
